html {
	background-color: #b3d9ff;
	font-family: Century Gothic, Tw Cen MT;
}
body {
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.título {
	font-size: 50px;
	font-family: AR Destine;
	color: #006699;
	margin-bottom: 80px;
	margin-top: 0px;
	background-color: #99ffcc;
	padding: 0px;
	border: 0px;
}
.navegación li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
p a:hover {
	text-decoration: none;
	color: #990099;
}
a:visited {
	color: #5900b3;
}
li a:hover {
	font-size: 20px;
	color: #990099;
	font-weight: bold;
}
h2 {
	font-size: 26px;
}
h3, p {
	font-size: 20px;

}
.textosh3 {
	font-family: Corbel;
	font-size: 23px;
}
.actual {
	border-bottom: 2px #ff3300 solid;
	border-left: 2px #ff3300 solid;
	padding-left: 5px;
	font-weight: bold;

}